/* .wrapper {
  width: 100%;
  max-width: 92rem;
  margin: 0 auto;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 4%;
  grid-gap: 20px;
  
}



@media only screen and (max-width: 48em){
  #dashboard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 4% 4vw;
  
}
} */

.card {
  margin: 10px;
}
